{
  "extends": [
    "prettier",
    "prettier/standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "prettier",
    "standard",
    "@typescript-eslint",
    "import"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "linebreak-style": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "no-invalid-this": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off"
  }
}
